.title{
	font-family: 'Pacifico';
  	font-size: 55px;
  	text-shadow: 4px 4px 4px #aaa;
}
.container {
	width: 40%;
}

.todoentry {
	margin: auto;
	margin-top: 50px;
	width: 520px;
}

.displaysection {
	margin: auto;
	margin-top: 20px;
	width: 500px;
	border: 2px solid skyblue;
	border-radius: 10px;
}